{% extends 'base.html' %}
{% block title %}
Xplain - {{question.question.title}}
{% endblock title %}
{% block content %}
<div class="ui container">
<div class="ui grid stackable centered">
    <div class="eight wide column">
        <h1>{{ question.question.title }}</h1>
        <p>{{question.question.question_text}}</p>
        <div class="ui divider">
        </div>
        <div class="ui grid">
            <div class="three column row">
                <div class="left floated column">
                    <form method="post" action="{% url 'questions:vote' question.question.id %}">
                        {% csrf_token %}
                        <div class="ui buttons">
                            <button class="ui button" name="vote" value="-1"><i class="thumbs down icon"></i>{{ votes.down }}</button>
                            <div class="or"></div>
                            <button class="ui positive button" name="vote" value="1" ><i class="thumbs up icon"></i>{{ votes.up }}</button>
                        </div>
                    </form>
                </div>
                <div class="right floated column" style="text-align:right">
                    <img class="ui avatar image" src="{{question.question.user.auth.display_picture_url}}"> {{question.question.user.username}}
                </div>
            </div>
        </div>
        <div class="ui divider">
        </div>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'questions:answer' question.question.id %}" > 
                {% csrf_token %}
                <div class="ui raised card" style="width:100%">
                    <div class="content">
                        <div class="header">Your Answer</div>
                        <br/>
                        <div class="description">
                            <div class="ui form">
                                <div class="field">
                                    <textarea name="answer" placeholder="Type Here" rows="2" style="resize:none"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="left floated author">
                            <img class="ui avatar image" src="{{auth.display_picture_url}}">&nbsp;{{user.username}}
                        </div>

                        <div class="right floated">
                            <input class="ui blue button" type="submit" value="Submit">
                        </div>
                    </div>
                </div>
            </form>
            
        {% else %}

            <div class="ui raised card" style="width:100%">
                <div class="ui icon message">
                    <i class="inbox icon"></i>
                    <div class="content">
                        <div class="header">
                            Know the answer?
                        </div>
                        <br/>
                        <div class="description">
                            <button onclick="login()" class="ui basic grey button">
                                Login
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>
        {% endif %}
        <br/>
        <div class="ui horizontal divider">
            Recent Answers
        </div>
        <br/>
        {%if answers%}
            {% for answer in answers %}
                <div class="ui feed">
                    <div class="event">
                        <div class="label">
                            {% if answer.user.auth.display_picture_url %}
                            <img src="{{answer.user.auth.display_picture_url}}">
                            {% else %}
                            <img src="https://t4.ftcdn.net/jpg/00/64/67/63/240_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg">
                            {% endif %}
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">
                                    {{answer.user.username}}
                                </a> said
                                <div class="date">
                                    {{answer.createdOn}}
                                </div>
                            </div>
                            <div class="extra text">
                                {{answer.answer}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
            {% endfor %}
        {%else%}
            <p>No one has answered yet</p>
        {%endif%}
    </div>
</div>
</div>

{% endblock content %}