{% extends 'base.html' %}
{% block title %}
XPlain - Home
{% endblock title %}
{% block content %}
{% load static %}

<div class="ui container">
<div class="ui grid centered stackable">
    <div class="nine wide column">
        {% if user.is_authenticated %}
        <form id="quesion_ask" method="post" action="{% url 'questions:ask' %}">
            {% csrf_token %}
            <div class="ui raised card" style="width:100%">
                <div class="content">
                    <div class="header">Scratching your head? Ask away!</div>
                    <br/>
                    <div class="description">
                        <div class="ui form">
                            <div class="field">
                                <input placeholder="Title" name="title" required>
                            </div>
                            <div class="field">
                                <textarea placeholder="A short description" name="text" rows="2" required></textarea>
                            </div>
                            <select name="topic" class="ui dropdown" required>
                                <option value="">Topic</option>
                                {% for t in topics %}
                                    <option value="{{t.id}}">{{t.topic}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <div class="left floated author">
                        <img class="ui avatar image" src="{{auth.display_picture_url}}">&nbsp;{{user.username}}
                    </div>

                    <div class="right floated">
                        <button class="ui red button" type="submit" value="submit">Ask Now!</button>
                    </div>
                </div>
            </div>
        </form>
        {% endif %}
        <br/>
        {% if latest_question_list %}
         <div class="ui horizontal divider">
            Latest Questions
        </div>
        <br/>
            {% for question in latest_question_list %}
                
                <div class="ui card raised segment link" style="width:100%">
                    <div class="content">
                        {% if question.topic.topic == 'javascript'  %}
                            <a href="{% url 'home:index' %}/?filter={{question.topic.topic}}" class="ui yellow mini right ribbon label">{{question.topic.topic}}</a>
                        {% else %}
                            <a href="{% url 'home:index' %}/?filter={{question.topic.topic}}" class="ui green mini right ribbon label">{{question.topic.topic}}</a>
                        {% endif %}
                        <a href="{% url 'questions:detailed' question.id %}" style="all:unset">
                        <div class="header">
                            <h3>{{ question.title }}</h3>
                        </div>
                        <div class="description">
                            <p>{{question.question_text}}</p>
                        </div>
                        </a>
                    </div>
                    <div class="extra content">
                        <div class="left floated">
                            {{question.askedOn}}
                        </div>
                        <div class="right floated author">
                            <img class="ui avatar image" src="{{question.user.auth.display_picture_url}}"> {{question.user.username}}
                        </div>
                    </div>
                </div>
                <br/>
            {% endfor %}

        {% else %}
            <p>No questions are asked.</p>
        {% endif %}
    </div>
</div>
</div>
<script src="{% static 'home/validate.js' %}"></script>
{% endblock content %}