<div class="ui grid">
  <div class="computer only row">
    <div class="column">
      <div class="ui menu secondary pointing container">
        <a href="{% url 'home:index' %}" {% if request.path == '/home/' %} class="active item" {%else%} class="item"
          {% endif %} style="text-align:center">
          <i class="big handshake link icon"></i> XPlain
        </a>
        {% if user.is_authenticated %}
        <a href="{% url 'questions:mine' %}" {% if request.path == '/questions/mine/' %} class="active item" {%else%}
          class="item" {% endif %}>
          My Questions
        </a>
        {% endif %}
        {% if user.is_superuser %}
        <a href="{% url 'questions:topic' %}" {% if request.path == '/questions/topic/' %} class="active item" {%else%}
          class="item" {% endif %}>
          Topics
        </a>
        {%endif%}
        <a href="{% url 'about:index' %}" {% if request.path == '/about/' %} class="active item" {%else%} class="item"
          {% endif %}>
          About
        </a>
        <div class="right menu">
        {% if user.is_authenticated %}
          <a href="{% url 'account:profile' 'me' %}" {% if request.path == '/account/profile' %} class="active item" {%else%} class="item"
          {% endif %}>{{user.username}}</a>
          <a class="ui item" href="{% url 'account:account' 'logout' %}">
            Logout
          </a>
        {% else %}
          <button class="ui button item" onclick="login()">
            Login
          </button>
        {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="tablet mobile only row">
    <div class="column">
      <div class="ui menu secondary pointing">
        <a id="mobile_item" class="item"><i class="bars icon"></i></a>
        <div class="right menu">
        {% if user.is_authenticated %}
          <a href="{% url 'account:profile' 'me' %}" {% if request.path == '/account/profile' %} class="active item" {%else%} class="item"
          {% endif %}>{{user.username}}</a>
          <a class="ui item" href="{% url 'account:account' 'logout' %}">
            Logout
          </a>
        {% else %}
          <button class="ui button item" onclick="login()">
            Login
          </button>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>