<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a href="{% url 'home:index' %}" {% if request.path == '/home/' %} class="active item"{%else%} class="item" {% endif %}>
      <i class="big handshake link icon"></i> XPlain
    </a>
    {% if user.is_authenticated %}
    <a href="{% url 'questions:mine' %}" {% if request.path == '/questions/mine/' %} class="active item"{%else%} class="item" {% endif %}>
      My Questions
    </a>
    {% endif %}
    {% if user.is_superuser %}
    <a href="{% url 'questions:topic' %}" {% if request.path == '/questions/topic/' %} class="active item"{%else%} class="item" {% endif %} >
      Topics
    </a>
    {%endif%}
    <a href="{% url 'about:index' %}"{% if request.path == '/about/' %} class="active item"{%else%} class="item" {% endif %}>
      About
    </a>
    <div class="right item">
      {% if user.is_authenticated %}
        <div class="item">
          <a class="ui button">{{user.username}}</a>
        </div>
        <div class="item">
          <a class="ui basic red button" href="{% url 'account:logout' %}">Logout</a>
        </div>
      {% else %}
        <div class="item" >
          <a class="ui basic grey button" onclick="login()">Login</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div id="sidebar_menu" class="ui vertical sidebar menu">
  <a href="{% url 'home:index' %}" {% if request.path == '/home/' %} class="active item"{%else%} class="item" {% endif %} style="text-align:center">
    <button class="ui button"><i class="big handshake link icon"></i> XPlain</button>
  </a>
  {% if user.is_authenticated %}
  <a href="{% url 'questions:mine' %}" {% if request.path == '/questions/mine/' %} class="active item"{%else%} class="item" {% endif %}>
    My Questions
  </a>
  {% endif %}
  {% if user.is_superuser %}
  <a href="{% url 'questions:topic' %}" {% if request.path == '/questions/topic/' %} class="active item"{%else%} class="item" {% endif %} >
    Topics
  </a>
  {%endif%}
  <a href="{% url 'about:index' %}"{% if request.path == '/about/' %} class="active item"{%else%} class="item" {% endif %}>
    About
  </a>
  {% if user.is_authenticated %}
    <div class="item">
      {{user.username}}
    </div>
    <div class="item">
      <a class="ui red button tiny" href="{% url 'account:logout' %}">Logout</a>
    </div>
  {% else %}
    <div class="item" >
      <a class="ui basic grey button tiny" onclick="login()">Login</a>
    </div>
  {% endif %}
</div>