<div class="ui sidebar vertical menu">
  <a href="{% url 'home:index' %}" {% if request.path == '/home/' %} class="active item" {%else%} class="item"
    {% endif %}>
    <img src="https://www.svgrepo.com/show/146506/interview.svg" width="2rem" style="margin: 0 8px"><span
      style="font-size:2rem">XPlain</span>
  </a>
  {% if user.is_authenticated %}
  <a href="{% url 'questions:mine' %}" {% if request.path == '/questions/mine/' %} class="active item" {%else%}
    class="item" {% endif %}>
    My Questions
  </a>
  {% endif %}
  {% if user.is_superuser %}
  <a href="{% url 'questions:topic' %}" {% if request.path == '/questions/topic/' %} class="active item" {%else%}
    class="item" {% endif %}>
    Topics
  </a>
  {%endif%}
  <a href="{% url 'about:index' %}" {% if request.path == '/about/' %} class="active item" {%else%} class="item"
    {% endif %}>
    About
  </a>
</div>
<script>
  function login() {
    $('#login_modal').modal('show');
  }
  $('.ui.sidebar').sidebar({
    context: $('.ui.pushable.segment'),
    transition: 'overlay'
  }).sidebar('attach events', '#mobile_item');
</script>