{% comment %} <div class="ui container">
  <div class="ui large secondary pointing menu">
    <a class="toc item">
      <i class="icon sidebar"></i>
    </a>
    <a href="{% url 'home:index' %}" {% if request.path == '/home/' %} class="active item" {%else%} class="item"
      {% endif %}>
      <i class="big handshake link icon"></i> XPlain
    </a>
    {% if user.is_authenticated %}
    <a href="{% url 'questions:mine' %}" {% if request.path == '/questions/mine/' %} class="active item" {%else%}
      class="item" {% endif %}>
      My Questions
    </a>
    {% endif %}
    {% if user.is_superuser %}
    <a href="{% url 'questions:topic' %}" {% if request.path == '/questions/topic/' %} class="active item" {%else%}
      class="item" {% endif %}>
      Topics
    </a>
    {%endif%}
    <a href="{% url 'about:index' %}" {% if request.path == '/about/' %} class="active item" {%else%} class="item"
      {% endif %}>
      About
    </a>
    <div class="right item">
      {% if user.is_authenticated %}
      <div class="item">
        {{user.username}}
      </div>
      <div class="item">
        <a class="ui basic red button" href="{% url 'account:logout' %}">Logout</a>
      </div>
      {% else %}
      <div class="item">
        <button class="ui basic grey button" onclick="login()">Login</button>
      </div>
      {% endif %}
    </div>
  </div>

</div> {% endcomment %}

<div class="ui container">
  <div id="pointing" class="ui large secondary pointing menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <a href="{% url 'home:index' %}" {% if request.path == '/home/' %} class="active item" {%else%} class="item"
      {% endif %}>
      <img src="https://www.svgrepo.com/show/146506/interview.svg" width="2rem" style="margin: 0 8px"><span
        style="font-size:2rem">XPlain</span>
    </a>
    {% if user.is_authenticated %}
    <a href="{% url 'questions:mine' %}" {% if request.path == '/questions/mine/' %} class="active item" {%else%}
      class="item" {% endif %}>
      My Questions
    </a>
    {% endif %}
    {% if user.is_superuser %}
    <a href="{% url 'questions:topic' %}" {% if request.path == '/questions/topic/' %} class="active item" {%else%}
      class="item" {% endif %}>
      Topics
    </a>
    {%endif%}
    <a href="{% url 'about:index' %}" {% if request.path == '/about/' %} class="active item" {%else%} class="item"
      {% endif %}>
      About
    </a>
    <div class="right item" style="padding:0">
      {% if user.is_authenticated %}
      <a href="{% url 'account:profile' %}" {% if request.path == '/account/profile' %} class="active item" {%else%}
        class="item" {% endif %}>{{user.username}}</a>
      <div class="item">
        <a class="ui basic red button" href="{% url 'account:logout' %}">Logout</a>
      </div>
      {% else %}
      <div class="item">
        <a class="ui basic grey button" onclick="login()">Login</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<script>
  function login() {
    $('.ui.basic.modal').modal('show');
    $('#sidebar_menu').sidebar('pull page')
  }
</script>