{% load static %}
<!DOCTYPE html>
<html>
    {# Make modifiable head elements #}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <script>
            $(document)
                .ready(function() {

                // fix menu when passed
                $('.masthead')
                    .visibility({
                    once: false,
                    onBottomPassed: function() {
                        $('.fixed.menu').transition('fade in');
                    },
                    onBottomPassedReverse: function() {
                        $('.fixed.menu').transition('fade out');
                    }
                    })
                ;

                // create sidebar and attach to menu open
                $('.ui.sidebar')
                    .sidebar('attach events', '.toc.item')
                ;

                })
            ;
        </script>
        <style>
           ::-webkit-scrollbar {
                display: none;
            }
            body{
                padding:4px 8px
            }
        </style>
        <style href="/header/styles/style.css" rel="stylesheet"></style>
    </head>

    <body>
        {%include 'header/following_menu.html'%}
        <div class="ui pushable segment" style="height:93vh">
            <div class="pusher">
                {% include 'account/index.html' %}
                {% include 'header/index.html' %}
                    <div id="content" class="ui segment" style="padding:0; border:none">
                        {% block content %}
                        {% endblock content %}
                    </div>
            </div>
        </div>
    </body>

</html>